
<%= form_with model: album do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title , class: "form-control"%>
        <% album.errors.full_messages_for(:title).each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :description %><br>
        <%= form.text_area :desciption , class: "form-control ", style: "resize: none"%>
        <% album.errors.full_messages_for(:desciption).each do |message| %>
        <div class="alert alert-danger"><%= message%></div>
        <% end %>
    </div>
    <br>
    <div>
        <%= form.label :images %><br>
        <%= form.file_field :images, multiple: true, class:"filefield"%>
    </div>
    <br>
    <div>
        <%= form.submit class:"btn btn-info"%>
        <%= link_to 'Back',albums_path, class:"btn btn-secondary ml-3"%>
    </div>
<% end %>
